In [ ]:
## Football Dataset for ICT783
## Name: Liam Turley

In [38]:
import numpy as np
import pandas as pd
import os
import matplotlib as plt

In [2]:
football = r'C:\Users\Liam\Desktop\football.csv'

In [4]:
football_df = pd.DataFrame(pd.read_csv(football))
football_df.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [5]:
# How many tuples in the dataframe
football_df.shape

(41586, 9)

In [6]:
# What are the original datatypes?
football_df.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [37]:
# How many tournaments played?
tournament_count = football_df['tournament'].unique()
print('total number of tournaments played:' + str(len(tournament_count)))

total number of tournaments played:112

In [8]:
# Change date text column to date datetime column
football_df['date']= pd.to_datetime(football_df['date'])
football_df.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

In [36]:
# Count how many games played in 2018
football_df['year'] = football_df['date'].dt.year # makes a year column 
football_2018 = football_df.loc[football_df['year'] == 2018]
print('total games played in 2018' + str(len(football_2018)))

total games played in 2018905

In [35]:
win = football_df.loc[football_df['home_score'] > football_df['away_score']]
lost = football_df.loc[football_df['home_score'] < football_df['away_score']]
draw = football_df.loc[football_df['home_score'] == football_df['away_score']]
print('total games ending in a win = ' + str(len(win)))
print('total games ending in a loss = ' + str(len(lost)))
print('total games ending in a draw = ' + str(len(draw)))

total games ending in a win = 20234
total games ending in a loss = 11774
total games ending in a draw = 9578

In [48]:
# How many teams in the dataset?
print('the total number of teams in dataset = ' + str(len(np.unique(football_df[['home_team', 'away_team']].values))))

the total number of teams in dataset = 312